<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true" />

    <context:component-scan base-package="com.acoreful.jeeplat">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
        <context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice" />
    </context:component-scan>
    
    <import resource="spring/spring-shiro.xml"/>
    
    <beans profile="development">
        <context:property-placeholder location="classpath:env/app-development.properties" ignore-unresolvable="true" order="1" />
    </beans>
    
    <beans profile="test">
        <context:property-placeholder location="classpath:env/app-test.properties" ignore-unresolvable="true" order="1" />
    </beans>

    <beans profile="production">
        <context:property-placeholder location="classpath:env/app-prod.properties" ignore-unresolvable="true" order="1" />
    </beans>

</beans>